@font-face {
    font-family: 'Roboto-Black-900';
    src: url('../fonts/Roboto/Roboto-Black-900.ttf');
}

@font-face {
    font-family: 'Roboto-Bold-700';
    src: url('../fonts/Roboto/Roboto-Bold-700.ttf');
}

@font-face {
    font-family: 'Roboto-Light-300';
    src: url('../fonts/Roboto/Roboto-Light-300.ttf');
}

@font-face {
    font-family: 'Roboto-Medium-500';
    src: url('../fonts/Roboto/Roboto-Medium-500.ttf');
}

@font-face {
    font-family: 'Roboto-Regular-400';
    src: url('../fonts/Roboto/Roboto-Regular-400.ttf');
}